.pager {
  box-sizing: border-box;
  display: flex;
  align-items: center;
    height: 70px;
    overflow: hidden;
    z-index: 99;
    position: relative;
    bottom: 20px;
}


.pager .link-container {
  user-select: none;
  box-sizing: border-box;
  display: inline-block;
  border: none;
  border-width: 1px;
  border-color: #31353E;
  width:  50%;
  /* height: 100%; */
  position: relative;
  text-decoration: none;
  font-size:  1rem;
  color: #8C95A7;
  overflow: hidden;
  align-items: center;
}

.next{
  text-align:  right !important;
}

.pager .link-container {
  display: inline-flex !important;
}


.pager .link-container.next .count{
  margin-right: 1rem;
} 

.pager .link-container a {
  box-sizing: border-box;
  display: inline-block;
  /* height: 100%; */
  text-decoration: none;
  color: inherit;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 30px;
  padding-left: 15px;
}

.pager .link-container.next a {
  color: white;
  /* margin-right: 50px; */
  width:100%;
} 

.pager .link-container.next a{
  display: flex;
  justify-content: space-around;
}


.pager .link-container.previous a {
  text-align:  left;
  color: #8C95A7;
} 



 .pager .link-container.previous .caption { float:right }
 .pager .link-container.previous .arrow { float: left }

 .pager .link-container.next .caption { float:left }
 .pager .link-container.next .arrow { 
    margin-left: 1rem; 
}
